:host {
  justify-self: flex-end;
  margin-top: auto;
}

.footer {
  @apply mt-10;
  @apply flex flex-row flex-nowrap w-full justify-between relative;
  //  @apply bg-slate-400;

  .footer-section {
    @apply border border-slate-300 border-y-0 border-l-0;
    @apply p-5;
    @apply grow;
    min-width: 150px;

    p {
      @apply text-white text-xs;
    }

    &:first-child {
      @apply pl-0;
    }

    &:last-child {
      @apply border-r-0 pr-0;
    }
  }

  &:after {
    @apply absolute block top-0 bottom-0;
    @apply bg-slate-400;
    content: '';
    left: -100vw;
    right: -100vw;
    z-index: -1;
  }
}