@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  width: 100vw;
  height: 100vh;
  @apply bg-white p-0 flex flex-col;
  align-items: center;
  overflow-x: hidden;
}

app-root {
  max-width: 80%;
  width: 960px;
  flex-grow: 2;
  @apply flex flex-col;
}

h1 {
  @apply text-slate-700 pb-5 text-3xl font-normal;
}

h2 {
  @apply text-slate-600 pb-4 text-2xl font-normal;
}

h3 {
  @apply text-slate-500 pb-3 text-xl font-normal;
}