nav {
  @apply flex flex-row relative;

  ul {
    @apply flex flex-row;
    @apply text-xs;
    @apply md:text-sm;

    li {
      @apply flex flex-col h-8 justify-center leading-none;

      a {
        @apply h-full flex flex-row items-center px-6 rounded;
        color: var(--theme-text-darker);
        @apply transition ease-in-out;

        &:hover {
          color: var(--theme-text-lightest);
        }

        &:hover, &:focus {
          @apply outline-none;
        }

        &.active-link {
          @apply bg-slate-700;
          color: var(--theme-text-lighter);
          background-color: var(--theme-bg-darker);
        }
      }
    }
  }

  &:after {
    @apply absolute block top-0 bottom-0;
    @apply bg-slate-100;
    content: '';
    left: -100vw;
    right: -100vw;
    z-index: -1;
  }
}